<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516955090411-6p0rseuthje5j55eldt82a36u26nlsj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516955090411-6p0rseuthje5j55eldt82a36u26nlsj0</string>
	<key>API_KEY</key>
	<string>AIzaSyCm8BYM5Al-gMVN7oNBgMZe1jm1LXiqHUE</string>
	<key>GCM_SENDER_ID</key>
	<string>516955090411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aoovava.Lime</string>
	<key>PROJECT_ID</key>
	<string>lime-main-bd</string>
	<key>STORAGE_BUCKET</key>
	<string>lime-main-bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516955090411:ios:cca56825388f565f01fdae</string>
	<key>DATABASE_URL</key>
	<string>https://lime-main-bd-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>